<a href="https://colab.research.google.com/github/Sibin-S-S/Sibin_DSA_Pathshaala/blob/main/Sibin_S_S_Statistics_CaseStudy_DSA7.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

1. Dataset: Monthly temperatures in a city (in °C): 12, 15, 14, 16, 18, 20, 22, 19,
17, 15, 13, 10 Questions:
a) Calculate the mean temperature.
b) Calculate the median temperature.
c) Find the mode of the temperature data.
d) Range and Variance

In [2]:

temperature = [12, 15, 14, 16, 18, 20, 22, 19, 17, 15, 13, 10]

mean = sum(temperature) / len(temperature)

temperature_sorted = sorted(temperature)
n = len(temperature_sorted)
if n % 2 == 0:
    median = (temperature_sorted[n//2 - 1] + temperature_sorted[n//2]) / 2
else:
    median = temperature_sorted[n//2]

mode = None
max_count = 0
for value in temperature_sorted:
    count = temperature_sorted.count(value)
    if count > max_count:
        max_count = count
        mode = value

data_range = max(temperature) - min(temperature)
variance = sum((x - mean) ** 2 for x in temperature) / len(temperature)

print("The Mean is:", round(mean, 2))
print("The Median is:", median)
print("The Mode is :", mode)
print("The Range is:", data_range)
print("Variance is :", round(variance, 2))

The Mean is: 15.92
The Median is: 15.5
The Mode is : 15
The Range is: 12
Variance is : 11.08

2. Dataset: Heights of students (in cm): 150, 160, 165, 170, 155, 160, 162, 168
Questions: a) Calculate the range of the heights.
b) Calculate the variance of the heights.
c) Standard Deviation

In [5]:
heights = [150, 160, 165, 170, 155, 160, 162, 168]
height_range = max(heights) - min(heights)
variance = sum((x - sum(heights) / len(heights)) ** 2 for x in heights) / len(heights)
standard_deviation = variance ** 0.5
print(f'The Range of given heights is {height_range}')
print(f'The Variance of given heights is {round(variance,2)}')
print(f'The Standard Deviation of given heights is {round(standard_deviation,2)}')

The Range of given heights is 20
The Variance of given heights is 38.19
The Standard Deviation of given heights is 6.18

3. Dataset: Weekly expenses (in $): 200, 250, 300, 220, 270, 290, 310
Questions: a) Calculate the standard deviation of the weekly expenses.

In [9]:
expenses= [200, 250, 300, 220, 270, 290, 310]
variance = sum((x - sum(expenses) / len(expenses)) ** 2 for x in expenses) / len(expenses)
standard_deviation = variance ** 0.5
print(f'The Standard Deviation of the given expenses is : {round(standard_deviation,2)}')

The Standard Deviation of the given expenses is : 38.44

4. Dataset: Advertising Spending (in $1000s): 10, 20, 15, 25, 30; Sales (in
$1000s): 100, 150, 120, 180, 200
Questions: a) Calculate the covariance between advertising spending and sales.
b) Correlation

In [8]:

spend = [10, 20, 15, 25, 30]
sales = [100, 150, 120, 180, 200]

mean_spend = sum(spend) / len(spend)
mean_sales = sum(sales) / len(sales)

cov = sum((x - mean_spend) * (y - mean_sales) for x, y in zip(spend, sales)) / len(spend)

var_spend = sum((x - mean_spend) ** 2 for x in spend) / len(spend)
var_sales = sum((y - mean_sales) ** 2 for y in sales) / len(sales)
std_spend = var_spend ** 0.5
std_sales = var_sales ** 0.5

corr = cov / (std_spend * std_sales)

print("The Covariance is:", round(cov, 2))
print("The Correlation is:", round(corr, 2))

The Covariance is: 260.0
The Correlation is: 1.0

5. Dataset: Study Hours: 2, 4, 6, 8, 10; Exam Scores: 55, 60, 65, 70, 75
Questions: a) Calculate the correlation coefficient between study hours and exam
scores.
b) Interpret the result.
c) Quartiles and IQR

In [12]:

study_hours = [2, 4, 6, 8, 10]
exam_scores = [55, 60, 65, 70, 75]

mean_hours = sum(study_hours) / len(study_hours)
mean_scores = sum(exam_scores) / len(exam_scores)

total = 0
for i in range(len(study_hours)):
    total += (study_hours[i] - mean_hours) * (exam_scores[i] - mean_scores)
covariance = total / len(study_hours)

sum_sq_hours = 0
sum_sq_scores = 0
for i in range(len(study_hours)):
    sum_sq_hours += (study_hours[i] - mean_hours) ** 2
    sum_sq_scores += (exam_scores[i] - mean_scores) ** 2

std_hours = (sum_sq_hours / len(study_hours)) ** 0.5
std_scores = (sum_sq_scores / len(exam_scores)) ** 0.5

correlation = covariance / (std_hours * std_scores)


scores_sorted = sorted(exam_scores)
n = len(scores_sorted)


if n % 2 == 0:
    Q2 = (scores_sorted[n//2 - 1] + scores_sorted[n//2]) / 2
else:
    Q2 = scores_sorted[n//2]


lower_half = scores_sorted[:n//2]
m = len(lower_half)
if m % 2 == 0:
    Q1 = (lower_half[m//2 - 1] + lower_half[m//2]) / 2
else:
    Q1 = lower_half[m//2]


upper_half = scores_sorted[n//2 + 1:] if n % 2 != 0 else scores_sorted[n//2:]
m = len(upper_half)
if m % 2 == 0:
    Q3 = (upper_half[m//2 - 1] + upper_half[m//2]) / 2
else:
    Q3 = upper_half[m//2]

IQR = Q3 - Q1

print("Correlation Coefficient:", (correlation))
print("Q1:", Q1)
print("Q2:", Q2)
print("Q3:", Q3)
print("Interquartile Range (IQR):", IQR)

Correlation Coefficient: 0.9999999999999998
Q1: 57.5
Q2: 65
Q3: 72.5
Interquartile Range (IQR): 15.0

Dataset: Monthly savings (in $): 200, 300, 400, 500, 600, 700, 800, 900, 1000,
1100 Questions: a) Calculate the first quartile (Q1) and third quartile (Q3).
b) Calculate the interquartile range (IQR).
c) Detecting Outliers

In [14]:
def median(data):
    data_sorted = sorted(data)
    n = len(data_sorted)
    if n % 2 == 0:
        return (data_sorted[n//2 - 1] + data_sorted[n//2]) / 2
    else:
        return data_sorted[n//2]

def quartiles_and_iqr(data):
    data_sorted = sorted(data)
    n = len(data_sorted)

    Q2 = median(data_sorted)


    if n % 2 == 0:
        lower_half = data_sorted[:n//2]
        upper_half = data_sorted[n//2:]
    else:
        lower_half = data_sorted[:n//2]
        upper_half = data_sorted[n//2+1:]

    Q1 = median(lower_half)
    Q3 = median(upper_half)
    IQR = Q3 - Q1

    return Q1, Q2, Q3, IQR

def detect_outliers(data):
    Q1, Q2, Q3, IQR = quartiles_and_iqr(data)
    lower_bound = Q1 - 1.5 * IQR
    upper_bound = Q3 + 1.5 * IQR
    outliers = [x for x in data if x < lower_bound or x > upper_bound]
    return outliers, lower_bound, upper_bound

savings = [200, 300, 400, 500, 600, 700, 800, 900, 1000, 1100]

Q1, Q2, Q3, IQR = quartiles_and_iqr(savings)
outliers, lower, upper = detect_outliers(savings)

print("Q1:", Q1)
print("Q2 :", Q2)
print("Q3:", Q3)
print("IQR:", IQR)
print("Lower Bound:", lower)
print("Upper Bound:", upper)
print("Outliers:", outliers if outliers else "No Outliers")

Q1: 400
Q2 : 650.0
Q3: 900
IQR: 500
Lower Bound: -350.0
Upper Bound: 1650.0
Outliers: No Outliers

7. Dataset: Ages of employees: 22, 25, 28, 30, 35, 40, 45, 50, 55, 100
Questions: a) Identify any outliers using the IQR method.

In [19]:
def median(data):
    data_sorted = sorted(data)
    n = len(data_sorted)
    if n % 2 == 0:
        return (data_sorted[n//2 - 1] + data_sorted[n//2]) / 2
    else:
        return data_sorted[n//2]

def quartiles_and_iqr(data):
    data_sorted = sorted(data)
    n = len(data_sorted)

    Q2 = median(data_sorted)


    if n % 2 == 0:
        lower_half = data_sorted[:n//2]
        upper_half = data_sorted[n//2:]
    else:
        lower_half = data_sorted[:n//2]
        upper_half = data_sorted[n//2+1:]

    Q1 = median(lower_half)
    Q3 = median(upper_half)
    IQR = Q3 - Q1

    return Q1, Q2, Q3, IQR

def detect_outliers(data):
    Q1, Q2, Q3, IQR = quartiles_and_iqr(data)
    lower_bound = Q1 - 1.5 * IQR
    upper_bound = Q3 + 1.5 * IQR
    outliers = [x for x in data if x < lower_bound or x > upper_bound]
    return outliers, lower_bound, upper_bound

age = [22, 25, 28, 30, 35, 40, 45, 50, 55, 100 ]

Q1, Q2, Q3, IQR = quartiles_and_iqr(age)
outliers, lower, upper = detect_outliers(age)


print("Outliers:", outliers if outliers else "No Outliers")

Outliers: [100]

9. Dataset: Sample weights (in kg) of a new diet program: 70, 68, 72, 71, 69, 73,
72, 74, 70, 71 Questions: a) Test the hypothesis that the mean weight after the
diet program is equal to 70 kg at a 5% significance level. b) Z-Scores

In [18]:

weights = [70, 68, 72, 71, 69, 73, 72, 74, 70, 71]
n = len(weights)

mu_0 = 70
mean = sum(weights) / n


variance = sum((x - mean) ** 2 for x in weights) / (n - 1)
std_dev = variance ** 0.5

t_stat = (mean - mu_0) / (std_dev / (n ** 0.5))


t_critical = 2.262

print("Sample Mean:", mean)
print("Sample Standard Deviation:", std_dev)
print("t-statistic:", t_stat)
print("t-critical (df=9, α=0.05):", t_critical)


if abs(t_stat) > t_critical:
    print("Reject Null Hypothesis: Mean is significantly different from 70")
else:
    print("Fail to Reject Null Hypothesis: Mean is not significantly different from 70")

z_scores = [(x - mean) / std_dev for x in weights]

print("\nZ-Scores:", z_scores)

Sample Mean: 71.0
Sample Standard Deviation: 1.8257418583505538
t-statistic: 1.7320508075688774
t-critical (df=9, α=0.05): 2.262
Fail to Reject Null Hypothesis: Mean is not significantly different from 70

Z-Scores: [-0.5477225575051661, -1.6431676725154982, 0.5477225575051661, 0.0, -1.0954451150103321, 1.0954451150103321, 0.5477225575051661, 1.6431676725154982, -0.5477225575051661, 0.0]

10. Dataset: Annual salaries of employees (in $1000s): 40, 42, 45, 47, 50, 52, 55,
57, 60, 62 Questions: a) Calculate the z-scores for each salary.

In [22]:

salaries = [40, 42, 45, 47, 50, 52, 55, 57, 60, 62]
n = len(salaries)


mean_salary = sum(salaries) / n

variance = sum((x - mean_salary) ** 2 for x in salaries) / (n - 1)
std_dev = variance ** 0.5

print("Z-scores for salaries:")
for x in salaries:
    z = (x - mean_salary) / std_dev
    print(f"{x} -> {z:.2f}")

Z-scores for salaries:
40 -> -1.46
42 -> -1.20
45 -> -0.80
47 -> -0.53
50 -> -0.13
52 -> 0.13
55 -> 0.53
57 -> 0.80
60 -> 1.20
62 -> 1.46

12. Dataset: Sample data of a new drug's effect on blood pressure reduction (in
mmHg): 10, 12, 14, 15, 13, 16, 18, 17, 19, 20
Questions: a) Perform a t-test to determine if the new drug has a significant effect
on blood pressure reduction.

In [23]:

data = [10, 12, 14, 15, 13, 16, 18, 17, 19, 20]
n = len(data)

mean_value = sum(data) / n


variance = sum((x - mean_value) ** 2 for x in data) / (n - 1)
std_dev = variance ** 0.5


std_error = std_dev / (n ** 0.5)

mu0 = 0

t_stat = (mean_value - mu0) / std_error

print("Sample mean:", round(mean_value, 2))
print("Standard Deviation:", round(std_dev, 2))
print("t-statistic:", round(t_stat, 2))
print("Degrees of freedom:", n - 1)

print("\nInterpretation:")
print("If t-statistic is much larger than the critical value (~2.26 for df=9, α=0.05 two-tailed),")
print("then reject H0 and conclude the drug has a significant effect.")

Sample mean: 15.4
Standard Deviation: 3.2
t-statistic: 15.2
Degrees of freedom: 9

Interpretation:
If t-statistic is much larger than the critical value (~2.26 for df=9, α=0.05 two-tailed),
then reject H0 and conclude the drug has a significant effect.